<!doctype html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Brand ientity, logos, print design, packaging, art direcion, iOS, android">
<meta name="author" content="Mello Creations, mello.mk">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/mello.css">
<link rel="shortcut icon" href="./img/fav.png">

{% if page.menusel == 'work' %}
	<script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.min.js"></script>		
	<script type="text/javascript" src="./js/jquery.lightbox.js"></script>
	<link rel="stylesheet" href="./css/lightbox.css" type="text/css" media="screen" />


	<script>
		$(document).ready(function(){
			$divs = $("#container").children();
			//console.log($divs);
			$divs = $divs.slice(1);
			console.log($divs);
			$divs.hide();
			$divs.eq(0).show();

			$links = $("#menu").children();

			$(".skrieno").on("click", function() {
				$index = $(this).index() - 1;
		
				console.log($index);
		
				$divs.hide();
				$divs.eq($index).show();
			});
			
			$(".lightbox-2").lightbox({
		        fitToScreen: true
	        });
		});
	</script>
{% elsif page.menusel == 'contact' %}
	<script src="./js/jquery.js"></script> 
    <script src="./js/jquery.form.min.js"></script> 
 
    <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            // $('#contactForm').ajaxForm(function() { 
            // 	$('#contactForm').clearForm();
            //     alert("Thank you for your comment!");
            // });

        	$("#contactForm").submit(function(e)
			{
			    var postData = $(this).serializeArray();
			    var formURL = "http://shimbovmailer.eu01.aws.af.cm/mailer";
			    $.ajax(
			    {
			        url : formURL,
			        type: "POST",
			        data : postData,
			        success:function(data, textStatus, jqXHR) 
			        {
			            alert("Thank you for contacting me");
			        },
			        error: function(jqXHR, textStatus, errorThrown) 
			        {
			        	alert("Thank you for contacting me.");  
			        }
			    });
			    e.preventDefault(); //STOP default action
			});     
    	}); 
    </script> 
{% endif %}

</head>
<body>
<div class="container" style="border-top:black solid 4px;">

	<div class="row-fluid">
		<a class="brand" href="./index.html"><div class="span3"><p class="andrea">ANDREA</p><p class="shimbov">SHIMBOV</p></div></a>
		
		{% if page.menusel == 'home' %} 
		<div class="span2 offset1 aktiv">HOME</div></a>
		{% else %}  
		<a href="./index.html"><div class="span2 offset1 meni">HOME</div></a>
		{% endif %}

		{% if page.menusel == 'work' %} 
		<div class="span2 aktiv">WORK</div></a>
		{% else %}  
		<a href="./work.html"><div class="span2 meni">WORK</div></a>
		{% endif %}

		{% if page.menusel == 'about' %} 
		<div class="span2 aktiv">ABOUT</div></a>
		{% else %}  
		<a href="./about.html"><div class="span2 meni">ABOUT</div></a>
		{% endif %}

		{% if page.menusel == 'contact' %} 
		<div class="span2 aktiv">CONTACT</div></a>
		{% else %}  
		<a href="./contact.html"><div class="span2 meni">CONTACT</div></a>
		{% endif %}

	</div>
	
	<div class="row-fluid"  style="border-top:solid 1px black; margin-top:-9px;">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span3" style="font-size:25px; letter-spacing:2px; padding-top:0px; margin-top:-25px; margin-left:3px;">GRAPHIC DESIGNER</div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	
	{{ content }}
		
		<div class="row-fluid futer affix-bottom" data-spy="affix" data-offset-top="200">
			<div class="span3 offset5" >&#169 2013/ANDREA SHIMBOV</div>
		</div>


</div>
</body>
</html>
